/* DashboardComponent's private CSS styles */
.grid-pad {
  @apply flex justify-center flex-col;
}

.module {
  max-height: 120px;
  min-width: 120px;
  @apply text-gray-100 font-bold text-center px-20 py-8 m-2 bg-gray-700 rounded-sm;
}

.module:hover {
  background-color: #eee;
  cursor: pointer;
  color: #607d8b;
  @apply bg-gray-100 cursor-pointer text-gray-700
}

@media (min-width: 1024px) {
  .grid-pad {
    @apply flex justify-center flex-row;
  }
}
